
@{
    ViewData["Title"] = "Home Page";
    List<string> Players = ViewBag.Players;

}
    



<div class="text-center px-3  pt-md-5 pb-md-4 mx-auto">
    <h1 style="font-size:2vmax">
        Rate:
        <small class="rate"></small><img src="~/resources/Cat_monet64.png" style="height:50px;width:50px" />
        Cash :
        <small class="cash">0</small><img src="~/resources/Cat_monet64.png" style="height:50px;width:50px" />
    </h1>


    <h1 id="timer" style="font-size:2vmax"><small> </small></h1>
</div>
<table id="GameTable" class="table" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Login</th>
            <th scope="col">Rate</th>

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Players.Count; i++)
        {

            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Players[i]</td>
                <td><img src="~/resources/Cat_monet64.png" style="height:50px;width:50px" />@ViewBag.Rate</td>
            </tr>
        }


    </tbody>
</table>


<div class="w-100 text-center">
    <p>
        @{ if (User.Identity.IsAuthenticated)
            { <button id="Join" class="btn btn-lg btn-primary my-2">Join</button>}
        }


    </p>
</div>
<div id="InfoMessageGameBlock" class="w-100 text-danger">

</div>





<div style="border: 0px solid #ccc;padding:10px;">
    <div id="WebChatFormForm"></div>
    @*<input type="text" id="WebChatNameID" style="margin-top:10px;" placeholder="Укажите ваше имя...">*@
    <div id="answer_div" style="float:right;"></div>


    @{ if (User.Identity.IsAuthenticated)
        {
            <textarea id="WebChatTextID" placeholder="Send message to online chat..." maxlength="200"></textarea>
            <div style="margin-bottom: 0px;margin-top: 10px;">
                <input class="btn btn-primary" type="button" style="width: 220px;" onclick="web_send_msg();" value="Send">
            </div>
        }
    }
    <div id="answer_error" style="float:right;"></div>
</div>


<script>
    var UserName = '@ViewBag.User';


</script>

<script src="~/js/Object.js"></script>
<script src="~/js/InfoStringsScript.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/TableScript.js"></script>
<script src="~/js/InfoControlScript.js"></script>
<script src="~/js/TimerScript.js"></script>


<script>
        //создание класса управления таблицей
        let table = new TableControl('GameTable');

        //подключение по веб сокету
        var connection = new signalR.HubConnectionBuilder().withUrl("/gameHub").build();

        var GameID = @ViewBag.GameID;


</script>


<script src="~/js/GameScript.js"></script>
<script src="~/js/ChatScript.js"></script>
<script src="~/js/ErrorHandlerScript.js"></script>