@using Microsoft.AspNetCore.Identity
@model LotteryMVC.Models.ChangeRoleViewModel




<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Изменение ролей для пользователя @Model.UserEmail</h2>
                <form asp-action="Edit" method="post">
                    <input type="hidden" name="userId" value="@Model.UserId" />
                    <div class="form-group">
                        @foreach (IdentityRole role in Model.AllRoles)
                        {
                            <input type="checkbox" name="roles" value="@role.Name"
                                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                            }
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
